/* Screen sizes */
/* Color values */

/* Color scheme from lightest to darkest */
$light-accent-0: #e6f7f8; /* light teal */
$light-accent-1: #cdf0f2; /* light teal */
$light-accent-2: #a0d597; /* light green */
$light-accent-3: #83dadd; /* light teal */
$base-color: #00b7bd; /* teal */
$dark-accent-0: #2f939c; /* dark teal */
$dark-accent-1: #444d54; /* base-gray and gray-7 */

/* Text properties */
$base-gray: #2d3338; /* gray-8 */

/* Grays from lightest (0) to darkest (9) */
$gray-0: #f2f4f5;
$gray-1: #e2e5e8;
$gray-2: #c6ccd1;
$gray-3: #aab3ba;
$gray-4: #8e9aa3;
$gray-5: #72818c;
$gray-6: #5b6770; 
$gray-7: #444d54; /* dark-accent-1 */
$gray-8: #2d3338; /* base-gray for text */
$gray-9: #16191c;

/* Default font styles */
html body a,
html body a:visited {
  color: $base-color;
  font-weight: 600;
  text-decoration: none;
}

html body a:hover {
  color: $dark-accent-0;
  text-decoration: none;
}

html body p,
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  color: $base-gray;
  display: block;
}

html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  clear: both;
}

.section-row li {
  font-size: 15px;
  line-height: 24px;
  margin: 10px;
}

html body h1 {
  color: #5b6770;    
  font-size: 34px;
  font-weight: 400;
  line-height: 1.38;
}

html body h2 {
  color: #5b6770;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  margin: 0 0 10px 0; 
}

html body h3 {
  font-size: 20px;
  line-height: 27px;
}

html body h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

html body h5 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}

html body p {
  color: $gray-7;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  text-size-adjust: 100%;
  -webkit-font-smoothing:antialiased;
}

html body p {
  margin: 30px 0 30px 0;
}

html body p:last-of-type {
  margin-bottom: 10px;
}

html body p:first-of-type {
  margin-top: 20px;
}

/* Overarching styles */
html body {
  color: $base-gray;
  font-family: "Roboto", Helvetica, Arial, sans-serif; 
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}

.ebook {
  margin-top: 50px 0 0 0;
  max-width: 1300px;
}

@media (max-width: 992px) {
  .ebook {
    margin: 50px 0 0 0;
  }
}

img {
  border-radius: 5px;
}

/* Navigation styles */

.desktop-chapter-navigation {
  display: block;
}

.mobile-chapter-navigation {
  display: none;
}

@media (max-width: 767px) {
  .mobile-chapter-navigation {
    display: block;
  }
  .desktop-chapter-navigation {
    display: none;
  }
}

html body .navbar-default a.navbar-brand,
html body .navbar-default .navbar-brand {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 767px) {
  html body .navbar-default a.navbar-brand,
  html body .navbar-default .navbar-brand {
    max-width: 250px;
  }
}

html body .navbar-default .navbar-brand:hover, 
html body .navbar-default .navbar-brand:focus {
  color: #ffffff;
}

html body .navbar-default .navbar-nav>li>a {
  font-weight: 400;
  color: #ffffff;
}

html body .dropdown-menu>li>a {
  color: $base-color;
}

html body .dropdown-menu>li>a:hover {
  color: $dark-accent-0;
}

html body .dropdown-menu>li>a:hover, 
html body .dropdown-menu>li>a:focus {
  background-color: $gray-0;
}

html body .navbar-default .navbar-nav>.open>a, 
html body .navbar-default .navbar-nav>.open>a:hover, 
html body .navbar-default .navbar-nav>.open>a:focus,
html body .navbar-default .navbar-toggle:hover, 
html body .navbar-default .navbar-toggle:focus {
  background-color: $gray-6;
  color: #ffffff;
}

html body .navbar-default .navbar-toggle .icon-bar {
  background-color: $gray-0;
  border-color: $gray-0;
}

.navbar-default {
  background-color: $gray-7;
  border-color: $gray-7;
}

.navbar-nav {
  float: right;
}

.navbar-default .navbar-nav>li.dropdown > a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #ffffff;
  font-weight: 400;
  outline: none;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  background-color: $gray-6;
}

.navbar-nav ul.dropdown-menu {
  left: auto;
  right: 0;
}

.navbar-brand.navbar-brand-desktop {
  display: block;
}

.navbar-brand.navbar-brand-mobile {
  display: none;
}

@media (max-width: 767px) {
  .navbar-brand.navbar-brand-mobile {
    display: block;
  }
  .navbar-brand.navbar-brand-desktop {
    display: none;
  }
}

/* Section styles */
.section {
  display: block; 
  margin: -80px 5px 30px 5px;
  overflow: auto;
  padding: 86px 0 0 0;
}

@media (max-width: 992px) {
  .section {
    margin: -70px 15px 30px 15px;
  }
}

.section hr {
  border-top: 1px solid #f2f4f5;
  clear: both;
  margin: 50px 0 0 0;
}

.section-hed {
  color: $dark-accent-0;
  font-family: "Roboto Slab", Georgia, serif;
}

.section img {
  width: 100%;
}

.section-row {
  overflow: initial;
  margin-left: auto;
  margin-right: auto;
  max-width: 640px; 
}

.section-row-callout {
  background-color: $light-accent-0;
  border-radius: 5px;
  float: right;
  margin-top: 30px;
  margin-right: 5%;
  margin-bottom: 30px;
  margin-left: 15%;
  padding: 30px;
  width: 80%;
}

@media (max-width: 767px) {
  .section-row-callout {
    clear: both;
    float: left;
    margin: 20px 0 20px 0;
    padding: 10px 10px 10px 20px;
    width: 100%;
  }
}

/* Section CTAs */

.section-row-cta {
  background-color: $light-accent-0;
  border: 1px solid $light-accent-1;
  border-radius: 5px;
  color: $dark-accent-1;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: auto;
  padding: 15px;
  -webkit-transition: all ease-in-out 0.4s; /* Safari */
  transition: all ease-in-out 0.4s;
  h4 {
    // text-transform: uppercase;
  }
  img {
    width: 100%;
    margin: 10px 0 20px 0;
  }
  i {
    color: $base-color;
  }
  p {
    margin: 10px 0 10px 0;
  }
}

a.section-row-cta:hover,
a .section-row-cta:hover {
  background-color: $light-accent-1;
  -webkit-transition: all ease-in-out 0.4s; /* Safari */
  transition: all ease-in-out 0.4s;
}

.cta-small {
  width: 200px;
}

.cta-medium {
  width: 320px;
}

.cta-large {
  width: 400px;
}

.cta-across {
  width: 190%;
  margin-top: 20px;
  margin-right: -45%;
  margin-bottom: 20px;
  margin-left: -45%;
  text-align: center;
}

@media (max-width: 1259px) {
  .cta-across {
    width: 180%;
    margin-right: -40%;
    margin-left: -40%;
  }
}

@media (max-width: 1199px) {
  .cta-across {
    width: 170%;
    margin-right: -35%;
    margin-left: -35%;
  }
}

@media (max-width: 1139px) {
  .cta-across {
    width: 160%;
    margin-right: -30%;
    margin-left: -30%;
  }
}

@media (max-width: 1069px) {
  .cta-across {
    width: 150%;
    margin-right: -25%;
    margin-left: -25%;
  }
}

@media (max-width: 1001px) {
  .cta-across {
    margin-right: -20%;
    margin-left: -20%;
    width: 140%;
  }
}

.cta-left {
  float: left;
  margin: 20px 20px 20px -260px;
}

.cta-right {
  float: right;
  margin: 20px -260px 20px 20px;
}

@media (max-width: 1239px) {
  .cta-left {
    margin: 20px 20px 20px -230px;
  }
  .cta-right {
    margin: 20px -230px 20px 20px;
  }
}

@media (max-width: 1169px) {
  .cta-left {
    margin: 20px 20px 20px -190px;
  }
  .cta-right {
    margin: 20px -190px 20px 20px;
  }
}

@media (max-width: 1069px) {
  .cta-left {
    margin: 20px 20px 20px -140px;
  }
  .cta-right {
    margin: 20px -140px 20px 20px;
  }
}

@media (max-width: 964px) {
  .cta-large,
  .cta-large.cta-left,
  .cta-large.cta-right,
  .cta-medium,
  .cta-medium.cta-left,
  .cta-medium.cta-right,
  .cta-across {
    margin: 10px 0 10px 0;
    width: 100%;
  }
  .cta-small,
  .cta-small.cta-left {
    width: 46%;
    margin: 2% 4% 2% 2%;
  }
  .cta-small.cta-right {
    width: 46%;
    margin: 2% 2% 2% 4%;
  }
}

/* Cover */
.cover.section {
  align-items: center;
  background-color: #3d9ea6;
  display: flex;
  margin: 50px 0 0 0;
  padding: 40px 0 60px 0;
}

.cover-box {
  display: inline-block;
  float: left;
  overflow: auto;
  width: 50%;
}

@media (max-width: 767px) {
  .cover.section {
    display: block;
    height: auto;
    margin: 0;
    padding: 20px 0 40px 0;
  }
  .cover-box {
    display: block;
    width: 100%;
  }
}

.cover-box-title {
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  max-width: 440px;
  text-align: center;
}

.cover-box-title-about {
  color: $light-accent-2;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

h1.cover-box-title-headline,
.cover-box-title-headline {
  color: #ffffff;
  font-family: "Roboto Slab", Georgia, serif;
}

.cover-box-title-subheadline {
  color: #ffffff;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 80%;
}

.cover-box-title-presented {
  color: $dark-accent-1;
  margin: 10px 0 10px 0;
}

.cover-box-title-authors {
  color: $dark-accent-1;
  margin: 10px 0 10px 0;
}

.cover-box-image {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.cover-box-image-featured {
  width: 100%;
}

/* About */
.about.section {
  background-color: $gray-0;
  border: none;
  margin: 0 0 30px 0;
  padding: 20px;
  text-align: center;
  h4 {
    color: $dark-accent-1;
  }
}

.about-social {
  align-items: center;
  display: flex;
  justify-content: center;
}

.about-social a:hover {
  .about-social-share {
    background-color: $base-color;
  }
}

.about-social-share {
  align-items: center;
  background-color: $light-accent-2;
  border: none;
  border-radius: 30px;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 10px 30px 10px 30px;
  padding: 5px 20px 5px 20px;
  width: 100px;
  -webkit-transition: all ease-in-out 0.4s; /* Safari */
  transition: all ease-in-out 0.4s;
  i {
    color: #ffffff;
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .about-social-share {
    border-radius: 100%;
    height: 50px;
    margin: 5px 10px;
    padding: 5px;
    width: 50px;
  }
}

/* Collaboration */
.section#collaboration {
  hr {
    display: none;
  }
}

/* footer */
footer {
  margin: 80px 0 0 0;
}

.authors {
  background-color: $gray-0;
  float: left;
  margin: 0;
  overflow: auto;
  padding: 0 0 40px 0;
}

.authors-hed {
  background-color: $gray-1;
  margin: 0;
  overflow: auto;
  padding: 20px;
  text-align: center;
  width: 100%;
  h2 {
    color: $dark-accent-0;
    font-family: "Roboto Slab", Georgia, sans-serif;
  }
}

.authors-about {
  display: inline-block;
  float: left;
  padding: 20px 30px 20px 30px;
  width: 50%;
}

.authors-about-image {
  display: inline-block;
  float: left;
  text-align: center;
  width: 30%;
  img {
    border-radius: 100%;
    margin: 20px 0 0 0;
    max-width: 200px;
    width: 100%;
  }
}

.authors-about-text {
  display: inline-block;
  float: left;
  margin: 0 0 0 5%;
  width: 65%;
  p {
    font-size: 14px;
    line-height: 21px;
  }
}

@media (max-width: 992px) {
  .authors-about-image,
  .authors-about-text {
    display: block;
    width: 100%;
  }
  .authors-about-text {
    margin: 0;
  }
  .authors-about-text h3,
  .authors-about-text h4 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .authors-about {
    display: block;
    float: left;
    width: 100%;
  }
  .authors-about-image,
  .authors-about-text {
    display: block;
    width: 100%;
  }
  .authors-about-text h3,
  .authors-about-text h4 {
    text-align: center;
  }
}

.credits {
  background-color: $dark-accent-0;
  float: left;
  height: 40px;
  margin: 0;
  overflow: auto;
  text-align: center;
  width: 100%;
}