/* Screen sizes */
/* Color values */
/* Color scheme from lightest to darkest */
/* light teal */
/* light teal */
/* light green */
/* light teal */
/* teal */
/* dark teal */
/* base-gray and gray-7 */
/* Text properties */
/* gray-8 */
/* Grays from lightest (0) to darkest (9) */
/* dark-accent-1 */
/* base-gray for text */
/* Default font styles */
html body a,
html body a:visited {
  color: #00b7bd;
  font-weight: 600;
  text-decoration: none; }

html body a:hover,
.section-row-cta a i:hover,
.section-row-cta i a:hover {
  color: #2f939c;
  text-decoration: none; }

html body p,
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  color: #2d3338;
  display: block; }

html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  clear: both; }

.section-row li {
  font-size: 15px;
  line-height: 24px;
  margin: 10px; }

html body h1 {
  color: #5b6770;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.38; }

html body h2 {
  color: #5b6770;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  margin: 0 0 10px 0; }

html body h3 {
  font-size: 20px;
  line-height: 27px; }

html body h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px; }

html body h5 {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase; }

html body p {
  color: #444d54;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

html body p {
  margin: 30px 0 30px 0; }

html body p:last-of-type {
  margin-bottom: 10px; }

html body p:first-of-type {
  margin-top: 20px; }

/* Overarching styles */
html body {
  color: #2d3338;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px; }

blockquote {
  overflow: auto; }

.ebook {
  margin-top: 50px 0 0 0;
  max-width: 1300px; }

@media (max-width: 992px) {
  .ebook {
    margin: 50px 0 0 0; } }
img {
  border-radius: 5px; }

.sign-up {
  background-color: #00b7bd;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 13px 23px;
  text-align: center;
  transition: all ease-in-out .4s; }

.sign-up:hover {
  background-color: #e6f7f8;
  color: #00b7bd; }

/* Navigation styles */
.desktop-chapter-navigation {
  display: block; }

.mobile-chapter-navigation {
  display: none; }

@media (max-width: 767px) {
  .mobile-chapter-navigation {
    display: block; }

  .desktop-chapter-navigation {
    display: none; } }
html body .navbar-default a.navbar-brand,
html body .navbar-default .navbar-brand {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400; }

@media (max-width: 767px) {
  html body .navbar-default a.navbar-brand,
  html body .navbar-default .navbar-brand {
    max-width: 250px; } }
html body .navbar-default .navbar-brand:hover,
html body .navbar-default .navbar-brand:focus {
  color: #ffffff; }

html body .navbar-default .navbar-nav > li > a {
  font-weight: 400;
  color: #ffffff; }

html body .dropdown-menu > li > a {
  color: #00b7bd; }

html body .dropdown-menu > li > a:hover {
  color: #2f939c; }

html body .dropdown-menu > li > a:hover,
html body .dropdown-menu > li > a:focus {
  background-color: #f2f4f5; }

html body .navbar-default .navbar-nav > .open > a,
html body .navbar-default .navbar-nav > .open > a:hover,
html body .navbar-default .navbar-nav > .open > a:focus,
html body .navbar-default .navbar-toggle:hover,
html body .navbar-default .navbar-toggle:focus {
  background-color: #5b6770;
  color: #ffffff; }

html body .navbar-default .navbar-toggle .icon-bar {
  background-color: #f2f4f5;
  border-color: #f2f4f5; }

.navbar-default {
  background-color: #444d54;
  border-color: #444d54; }

.navbar-nav {
  float: right; }

.navbar-default .navbar-nav > li.dropdown > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #ffffff;
  font-weight: 400;
  outline: none; }

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  background-color: #5b6770; }

.navbar-nav ul.dropdown-menu {
  left: auto;
  right: 0; }

.navbar-brand.navbar-brand-desktop {
  display: block; }

.navbar-brand.navbar-brand-mobile {
  display: none; }

@media (max-width: 767px) {
  .navbar-brand.navbar-brand-mobile {
    display: block; }

  .navbar-brand.navbar-brand-desktop {
    display: none; } }
/* Section styles */
.section {
  display: block;
  margin: -80px 5px 30px 5px;
  overflow: auto;
  padding: 86px 0 0 0; }

@media (max-width: 992px) {
  .section {
    margin: -70px 15px 30px 15px; } }
.section hr {
  border-top: 1px solid #f2f4f5;
  clear: both;
  margin: 50px 0 0 0; }

.section-hed {
  color: #2f939c;
  font-family: "Roboto Slab", Georgia, serif; }

.section img {
  width: 100%; }

.section-row {
  overflow: initial;
  margin-left: auto;
  margin-right: auto;
  max-width: 640px; }

.section-row-callout {
  background-color: #e6f7f8;
  border-radius: 5px;
  float: right;
  margin-top: 30px;
  margin-right: 5%;
  margin-bottom: 30px;
  margin-left: 15%;
  padding: 30px;
  width: 80%; }

@media (max-width: 767px) {
  .section-row-callout {
    clear: both;
    float: left;
    margin: 20px 0 20px 0;
    padding: 10px 10px 10px 20px;
    width: 100%; } }
/* Section CTAs */
.section-row-cta {
  background-color: #e6f7f8;
  border: 1px solid #cdf0f2;
  border-radius: 5px;
  color: #444d54;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: auto;
  padding: 15px;
  -webkit-transition: all ease-in-out 0.4s;
  /* Safari */
  transition: all ease-in-out 0.4s; }
  .section-row-cta img {
    width: 100%;
    margin: 10px 0 20px 0; }
  .section-row-cta i {
    color: #00b7bd; }
  .section-row-cta p {
    margin: 10px 0 10px 0; }

a.section-row-cta:hover,
a .section-row-cta:hover {
  background-color: #cdf0f2;
  -webkit-transition: all ease-in-out 0.4s;
  /* Safari */
  transition: all ease-in-out 0.4s; }

.cta-small {
  width: 200px; }

.cta-medium {
  width: 320px; }

.cta-large {
  width: 400px; }

.cta-across {
  width: 190%;
  margin-top: 20px;
  margin-right: -45%;
  margin-bottom: 20px;
  margin-left: -45%;
  text-align: center; }

.cta-across-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px; }

@media (max-width: 1259px) {
  .cta-across {
    width: 180%;
    margin-right: -40%;
    margin-left: -40%; } }
@media (max-width: 1199px) {
  .cta-across {
    width: 170%;
    margin-right: -35%;
    margin-left: -35%; } }
@media (max-width: 1139px) {
  .cta-across {
    width: 160%;
    margin-right: -30%;
    margin-left: -30%; } }
@media (max-width: 1069px) {
  .cta-across {
    width: 150%;
    margin-right: -25%;
    margin-left: -25%; } }
@media (max-width: 1001px) {
  .cta-across {
    margin-right: -20%;
    margin-left: -20%;
    width: 140%; } }
.cta-left {
  float: left;
  margin: 20px 40px 20px -260px; }

.cta-right {
  float: right;
  margin: 20px -260px 20px 40px; }

.inline-image {
  height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  clear: none;
  overflow: auto; }

html body .cta-dark-background {
  background-color: #2f939c;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  color: #ffffff;
  clear: none;
  margin-top: 40px;
  overflow: auto; }
  html body .cta-dark-background h1, html body .cta-dark-background h2, html body .cta-dark-background h3, html body .cta-dark-background h4, html body .cta-dark-background p {
    color: #ffffff; }
  html body .cta-dark-background h5 {
    color: #a0d597; }
  html body .cta-dark-background h2 {
    font-family: "Roboto Slab", Georgia, sans-serif;
    color: #ffffff; }
  html body .cta-dark-background h5 {
    letter-spacing: 3px; }
  html body .cta-dark-background h2, html body .cta-dark-background p {
    margin: 30px 0 30px 0; }
  html body .cta-dark-background .cta-across-text {
    padding: 20px 0 20px 0; }

@media (max-width: 1239px) {
  .cta-left {
    margin: 20px 40px 20px -230px; }

  .cta-right {
    margin: 20px -230px 20px 40px; } }
@media (max-width: 1169px) {
  .cta-left {
    margin: 20px 40px 20px -190px; }

  .cta-right {
    margin: 20px -190px 20px 40px; } }
@media (max-width: 1069px) {
  .cta-left {
    margin: 20px 40px 20px -140px; }

  .cta-right {
    margin: 20px -140px 40px 20px; } }
@media (max-width: 964px) {
  .cta-large,
  .cta-large.cta-left,
  .cta-large.cta-right,
  .cta-medium,
  .cta-medium.cta-left,
  .cta-medium.cta-right,
  .cta-across {
    margin: 10px 0 10px 0;
    width: 100%; }

  .cta-small,
  .cta-small.cta-left {
    width: 46%;
    margin: 2% 4% 2% 2%; }

  .cta-small.cta-right {
    width: 46%;
    margin: 2% 2% 2% 4%; } }
/* Cover */
.cover.section {
  align-items: center;
  background-color: #2f939c;
  display: flex;
  margin: 50px 0 0 0;
  padding: 40px 0 60px 0; }

.cover-box {
  display: inline-block;
  float: left;
  overflow: auto;
  width: 50%; }

.cover-box-title {
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  max-width: 440px;
  text-align: center; }

@media (max-width: 767px) {
  .cover.section {
    display: block;
    height: auto;
    margin: 0;
    padding: 20px 0 40px 0; }

  .cover-box {
    display: block;
    width: 100%; }

  .cover-box-title {
    padding: 15px; } }
.cover-box-title-about {
  color: #a0d597;
  margin: 0 0 20px 0;
  text-transform: uppercase; }

h1.cover-box-title-headline,
.cover-box-title-headline {
  color: #ffffff;
  font-family: "Roboto Slab", Georgia, serif; }

.cover-box-title-subheadline {
  color: #ffffff;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 80%; }

.cover-box-title-presented {
  color: #a0d597;
  margin: 10px 0 10px 0; }

.cover-box-title-authors {
  color: #a0d597;
  margin: 10px 0 10px 0; }

.cover-box-image {
  margin-left: auto;
  margin-right: auto;
  width: 90%; }

.cover-box-image-featured {
  width: 100%; }

/* About */
.about.section {
  background-color: #f2f4f5;
  border: none;
  margin: 0 0 30px 0;
  padding: 20px;
  text-align: center; }
  .about.section h4 {
    color: #444d54; }

.about-social {
  align-items: center;
  display: flex;
  justify-content: center; }

.about-social-share,
.twitter-share-button {
  margin: 10px 20px 10px 20px; }

.about-social-share.email {
  align-items: center;
  background-color: #00b7bd;
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  font-weight: 500;
  justify-content: center;
  padding: 5px 10px 5px 10px; }
  .about-social-share.email i.material-icons {
    font-size: 15px;
    margin-right: 5px; }
  .about-social-share.email span {
    font-size: 13px; }

.about-social-share:focus {
  outline: none;
  text-decoration: none; }

.about-social-share.email:hover {
  background-color: #2f939c; }

@media (max-width: 767px) {
  .about-social-share {
    margin: 10px 20px 10px 20px; } }
/* footer */
footer {
  margin: 50px 0 0 0;
  overflow: auto; }

.authors {
  float: left;
  margin: -50px 0 0 0;
  overflow: auto;
  padding: 50px 0 40px 0; }

.authors-hed {
  margin: 0;
  overflow: auto;
  text-align: center;
  width: 100%; }
  .authors-hed h2 {
    color: #444d54;
    font-family: "Roboto Slab", Georgia, sans-serif; }

.authors-about {
  background-color: #f2f4f5;
  border-radius: 5px;
  display: inline-block;
  float: left;
  padding: 20px 30px 20px 30px;
  width: 44%; }

.authors-about:nth-of-type(2) {
  margin: 3% 2% 3% 4%; }

.authors-about:nth-of-type(3) {
  margin: 3% 4% 3% 2%; }

.authors-about-image {
  display: inline-block;
  float: left;
  text-align: center;
  width: 30%; }
  .authors-about-image img {
    border-radius: 100%;
    margin: 20px 0 0 0;
    max-width: 140px;
    width: 100%; }

.authors-about-text {
  display: inline-block;
  float: left;
  margin: 0 0 0 5%;
  width: 65%; }
  .authors-about-text p {
    font-size: 14px;
    line-height: 21px; }

@media (max-width: 992px) {
  .authors-about-image,
  .authors-about-text {
    display: block;
    width: 100%; }

  .authors-about-text {
    margin: 0; }

  .authors-about-text h3,
  .authors-about-text h4 {
    text-align: center; } }
@media (max-width: 767px) {
  .authors-about {
    display: block;
    float: left;
    margin: 0;
    width: 100%; }

  .authors-about:nth-of-type(2),
  .authors-about:nth-of-type(3) {
    margin: 0; }

  .authors-about-image,
  .authors-about-text {
    display: block;
    width: 100%; }

  .authors-about-text h3,
  .authors-about-text h4 {
    text-align: center; } }
.credits {
  background-color: #c6ccd1;
  float: left;
  height: 40px;
  margin: 0;
  overflow: auto;
  text-align: center;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
