/* Screen sizes */
/* Color values */

/* Color scheme from lightest to darkest */
$light-accent-0: #e6f7f8; /* light teal */
$light-accent-1: #cdf0f2; /* light teal */
$light-accent-2: #a0d597; /* light green */
$light-accent-3: #83dadd; /* light teal */
$base-color: #00b7bd; /* teal */
$dark-accent-0: #2f939c; /* dark teal */
$dark-accent-1: #444d54; /* base-gray and gray-7 */

/* Text properties */
$base-gray: #2d3338; /* gray-8 */

/* Grays from lightest (0) to darkest (9) */
$gray-0: #f2f4f5;
$gray-1: #e2e5e8;
$gray-2: #c6ccd1;
$gray-3: #aab3ba;
$gray-4: #8e9aa3;
$gray-5: #72818c;
$gray-6: #5b6770; 
$gray-7: #444d54; /* dark-accent-1 */
$gray-8: #2d3338; /* base-gray for text */
$gray-9: #16191c;

/* Default font styles */
html body a,
html body a:visited {
  color: $base-color;
  font-weight: 600;
  text-decoration: none;
}

body {
  overflow: auto;
}

html body a:hover,
.section-row-cta a i:hover,
.section-row-cta i a:hover {
  color: $dark-accent-0;
  text-decoration: none;
}

html body p,
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  color: $base-gray;
  display: block;
}

html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  clear: both;
}

.section-row li {
  font-size: 15px;
  line-height: 24px;
  margin: 10px;
}

html body h1 {
  color: #5b6770;    
  font-size: 34px;
  font-weight: 400;
  line-height: 1.38;
}

html body h2 {
  color: #5b6770;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  margin: 0 0 10px 0; 
}

html body h3 {
  font-size: 20px;
  line-height: 27px;
}

html body h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

html body h5 {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 20px;
  text-transform: uppercase;
}

html body p {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  text-size-adjust: 100%;
  -webkit-font-smoothing:antialiased;
}

html body p {
  margin: 30px 0 30px 0;
}

html body p:first-of-type {
  margin-top: 20px;
}

a:focus {
  outline: none;
  text-decoration: none;
}

/* Overarching styles */
html body {
  color: $base-gray;
  font-family: "Roboto", Helvetica, Arial, sans-serif; 
}

blockquote {
  overflow: auto;
}

.ebook {
  margin: 50px 0 0 0;
}

@media (max-width: 992px) {
  .ebook {
    margin: 50px 0 0 0;
  }
}

img {
  border-radius: 5px;
}

.sign-up {
  background-color: $base-color;
  border: none; 
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 13px 23px;
  text-align: center;
  transition: all ease-in-out .4s;
}

.sign-up:hover {
  background-color: $light-accent-0;
  color: $base-color;
}

/* Navigation styles */

.desktop-chapter-navigation {
  display: block;
}

.mobile-chapter-navigation {
  display: none;
}

@media (max-width: 767px) {
  .mobile-chapter-navigation {
    display: block;
  }
  .desktop-chapter-navigation {
    display: none;
  }
}

html body .navbar-default a.navbar-brand,
html body .navbar-default .navbar-brand {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 767px) {
  html body .navbar-default a.navbar-brand,
  html body .navbar-default .navbar-brand {
    max-width: 250px;
  }
}

html body .navbar-default .navbar-brand:hover, 
html body .navbar-default .navbar-brand:focus {
  color: #ffffff;
}

html body .navbar-default .navbar-nav>li>a {
  font-weight: 400;
  color: #ffffff;
}

html body .dropdown-menu>li>a {
  color: $base-color;
}

html body .dropdown-menu>li>a:hover {
  color: $dark-accent-0;
}

html body .dropdown-menu>li>a:hover, 
html body .dropdown-menu>li>a:focus {
  background-color: $gray-0;
}

html body .navbar-default .navbar-nav>.open>a, 
html body .navbar-default .navbar-nav>.open>a:hover, 
html body .navbar-default .navbar-nav>.open>a:focus,
html body .navbar-default .navbar-toggle:hover, 
html body .navbar-default .navbar-toggle:focus {
  background-color: $gray-6;
  color: #ffffff;
}

html body .navbar-default .navbar-toggle .icon-bar {
  background-color: $gray-0;
  border-color: $gray-0;
}

.navbar-default {
  background-color: $gray-7;
  border-color: $gray-7;
}

.navbar-nav {
  float: right;
}

.navbar-default .navbar-nav>li.dropdown > a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #ffffff;
  font-weight: 400;
  outline: none;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  background-color: $gray-6;
}

.navbar-nav ul.dropdown-menu {
  left: auto;
  right: 0;
}

.navbar-brand.navbar-brand-desktop {
  display: block;
}

.navbar-brand.navbar-brand-mobile {
  display: none;
}

@media (max-width: 767px) {
  .navbar-brand.navbar-brand-mobile {
    display: block;
  }
  .navbar-brand.navbar-brand-desktop {
    display: none;
  }
}

/* Progress bar */
progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 47px;
  width: 100%;
  height: 4px;
  /* Reset the apperance */  
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /* Get rid of the default border in Firefox/Opera. */
  border: none;
  /* For Firefox/IE10+ */
  background-color: transparent;
  /* For IE10+, color of the progress bar */
  color: $light-accent-2;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: $light-accent-2;
}

progress::-moz-progress-bar {
  background-color: $light-accent-2;
}

/* Navigation prompt */
.nav-prompt {
  background-color: $base-color;
  display: none;
  margin: 1px 0 -1px 0;
  overflow: auto;
  padding: 5px;
  text-align: center;
  -webkit-transition: all ease-in-out 0.4s; /* Safari */
  transition: all ease-in-out 0.4s;
  width: 100%;
  i {
    font-weight: 600;
  }
  p,
  p:first-of-type {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
  }
}

.nav-prompt-exit {
  display: flex;
  float: left;
  justify-content: center;
  margin: 0;
  width: 5%;
  i {
    border-radius: 5px;
    color: $dark-accent-0;
    float: right;
    font-size: 16px;
    line-height: inherit;
    padding: 0 5px 0 5px;
  }
}

.nav-prompt-exit-icon:hover {
  background-color: $dark-accent-0;
  color: $base-color;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.4s; /* Safari */
  transition: all ease-in-out 0.4s;
}

.nav-prompt-text {
  color: #ffffff;
  float: left;
  margin: 0;
  width: 95%;
  a {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  i {
    color: #ffffff;
    font-size: 16px;
    margin-left: 4px;
  }
}

.nav-prompt-desktop {
  display: block;
}

.nav-prompt-mobile {
  display: none;
}

.nav-prompt-text p:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .nav-prompt {
    display: flex;
  }
  .nav-prompt-exit {
    margin-top: 6px;
    text-align: center;
    width: 100%;
  }
  .nav-prompt-text {
    display: block;
  }
  .nav-prompt-text {
    text-align: center;
    width: 100%;
    p {
      line-height: 20px;
    }
  }
  .nav-prompt-mobile {
    display: inline;
    line-height: inherit;
    vertical-align: bottom;
  }
  .nav-prompt-desktop {
    display: none;
  }
}

/* Section styles */
.section {
  display: block; 
  margin: -80px 5px 30px 5px;
  overflow: auto;
  padding: 86px 0 0 0;
}

@media (max-width: 992px) {
  .section {
    margin: -70px 15px 30px 15px;
  }
}

.section hr {
  border-top: 1px solid #f2f4f5;
  clear: both;
  margin: 50px 0 0 0;
}

.section-hed {
  color: $dark-accent-0;
  font-family: "Roboto Slab", Georgia, serif;
}

.section img {
  width: 100%;
}

.section-row {
  overflow: initial;
  margin-left: auto;
  margin-right: auto;
  max-width: 640px; 
}

.section-row-callout {
  background-color: $light-accent-0;
  border-radius: 5px;
  float: left;
  margin-top: 30px;
  margin-right: 10%;
  margin-bottom: 30px;
  margin-left: 10%;
  padding: 30px;
  width: 80%;
  p:last-of-type {
    margin-bottom: 10px;
  }
  h3 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .section-row-callout {
    clear: both;
    float: left;
    margin: 10px 0 30px 0;
    padding: 20px 20px 20px 20px;
    width: 100%;
  }
}

/* Section CTAs */

.section-row-cta {
  background-color: $light-accent-0;
  border: 1px solid $light-accent-1;
  border-radius: 5px;
  color: $gray-7;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: auto;
  padding: 15px;
  -webkit-transition: all ease-in-out 0.4s; /* Safari */
  transition: all ease-in-out 0.4s;
  h4 {
    // text-transform: uppercase;
  }
  img {
    width: 100%;
    margin: 10px 0 20px 0;
  }
  i {
    color: $base-color;
  }
  p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 0 10px 0;
  }
}

a.section-row-cta:hover,
a .section-row-cta:hover {
  background-color: $light-accent-1;
  -webkit-transition: all ease-in-out 0.4s; /* Safari */
  transition: all ease-in-out 0.4s;
}

.cta-small,
.cta-xsmall {
  width: 200px;
}

.cta-medium {
  width: 320px;
}

.cta-large {
  padding: 15px 30px 15px 30px;
  width: 400px;
}

.cta-across {
  width: 190%;
  margin-top: 20px;
  margin-right: -45%;
  margin-bottom: 20px;
  margin-left: -45%;
  text-align: center;
}

.cta-across-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

@media (max-width: 1259px) {
  .cta-across {
    width: 180%;
    margin-right: -40%;
    margin-left: -40%;
  }
}

@media (max-width: 1199px) {
  .cta-across {
    width: 170%;
    margin-right: -35%;
    margin-left: -35%;
  }
}

@media (max-width: 1139px) {
  .cta-across {
    width: 160%;
    margin-right: -30%;
    margin-left: -30%;
  }
}

@media (max-width: 1069px) {
  .cta-across {
    width: 150%;
    margin-right: -25%;
    margin-left: -25%;
  }
}

@media (max-width: 1001px) {
  .cta-across {
    margin-right: -20%;
    margin-left: -20%;
    width: 140%;
  }
}

.cta-left {
  float: left;
  margin: 20px 40px 20px -260px;
}

.cta-right {
  float: right;
  margin: 20px -260px 20px 40px;
}

.inline-image {
  height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  clear: none;
  overflow: auto;
  img {
    display: none;
  }
}

@media (max-width: 767px) {
  .inline-image {
    background-image: none !important;
    height: auto;
    img {
      display: block;
    }
  }
}

html body .cta-webinar {
  background-color: $dark-accent-0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  color: #ffffff;
  clear: none;
  float: left;
  margin-top: 40px;
  margin-bottom: 70px;
  overflow: auto;
  h1, h2, h3, h4, p {
    color: #ffffff;
  }
  h5 {
    color: $light-accent-2;
  }
  h2 {
    font-family: "Roboto Slab", Georgia, sans-serif;
    color: #ffffff;
  }
  h5 {
    letter-spacing: 3px;
  }
  h2, p {
    margin: 30px 0 30px 0;
  }
  .cta-across-text {
    padding: 20px 0 20px 0;
  }
}

@media (max-width: 1239px) {
  .cta-left {
    margin: 20px 40px 20px -230px;
  }
  .cta-right {
    margin: 20px -230px 20px 40px;
  }
}

@media (max-width: 1169px) {
  .cta-left {
    margin: 20px 40px 20px -190px;
  }
  .cta-right {
    margin: 20px -190px 20px 40px;
  }
}

@media (max-width: 1069px) {
  .cta-left {
    margin: 20px 40px 20px -140px;
  }
  .cta-right {
    margin: 20px -140px 40px 20px;
  }
}

@media (max-width: 964px) {
  .cta-large,
  .cta-large.cta-left,
  .cta-large.cta-right,
  .cta-medium,
  .cta-medium.cta-left,
  .cta-medium.cta-right,
  .cta-small.cta-left,
  .cta-small.cta-right,
  .cta-across {
    margin: 10px 0 30px 0;
    width: 100%;
  }
  .cta-xsmall,
  .cta-xsmall.cta-left {
    width: 46%;
    margin: 2% 4% 2% 2%;
  }
  .cta-xsmall.cta-right {
    width: 46%;
    margin: 2% 2% 2% 4%;
  }
}

/* Cover */
.cover.section {
  align-items: center;
  background-color: $dark-accent-0;
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
  padding: 40px 0 60px 0;
}

.cover-box {
  display: inline-block;
  float: left;
  overflow: auto;
  max-width: 600px;
  width: 50%;
}

.cover-box-title {
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  max-width: 440px;
  text-align: center;
  h5 {
    letter-spacing: 2px;
  }
}

@media (max-width: 767px) {
  .cover.section {
    display: block;
    height: auto;
    margin: 0;
    padding: 20px 0 40px 0;
  }
  .cover-box {
    display: block;
    width: 100%;
  }
  .cover-box-title {
    padding: 15px;
  }
}

.cover-box-title-about {
  color: $light-accent-2;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

h1.cover-box-title-headline,
.cover-box-title-headline {
  color: #ffffff;
  font-family: "Roboto Slab", Georgia, serif;
}

.cover-box-title-subheadline {
  color: #ffffff;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 80%;
}

.cover-box-title-presented {
  color: $light-accent-2;
  margin: 10px 0 10px 0;
}

.cover-box-title-authors {
  color: $light-accent-2;
  margin: 10px 0 10px 0;
}

.cover-box-image {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.cover-box-image-featured {
  width: 100%;
}

/* About */
.about.section {
  background-color: $gray-0;
  border: none;
  margin: 0 0 30px 0;
  padding: 20px;
  text-align: center;
  h4 {
    color: $dark-accent-1;
  }
}

.about-social {
  align-items: center;
  display: flex;
  justify-content: center;
}

.about-social-share,
.twitter-share-button {
  margin: 10px 20px 10px 20px;
}

.about-social-share.email {
  align-items: center;
  background-color: $base-color;
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  font-weight: 500;
  justify-content: center;
  padding: 5px 10px 5px 10px;
  i.material-icons {
    font-size: 15px;
    margin-right: 5px;
  }
  span {
    font-size: 13px;
  }
}

.about-social-share:focus {
  outline: none;
  text-decoration: none;
}

.about-social-share.email:hover {
  background-color: $dark-accent-0;
}

@media (max-width: 767px) {
  .about-social-share,
  .twitter-share-button {
    margin: 10px;
  }
}

/* footer */
footer {
  margin: 50px 0 0 0;
  overflow: auto;
}

.authors {
  float: left;
  margin: -50px 0 0 0;
  overflow: auto;
  padding: 50px 0 40px 0;
}

.authors-hed {
  margin: 0;
  overflow: auto;
  text-align: center;
  width: 100%;
  h2 {
    color: $dark-accent-1;
    font-family: "Roboto Slab", Georgia, sans-serif;
  }
}

.authors-about {
  background-color: $gray-0;
  border-radius: 5px;
  display: inline-block;
  float: left;
  padding: 20px 30px 20px 30px;
  width: 44%;
}

.authors-about:nth-of-type(2) {
  margin: 3% 2% 3% 4%;
}

.authors-about:nth-of-type(3) {
  margin: 3% 4% 3% 2%;
}

.authors-about-image {
  display: inline-block;
  float: left;
  text-align: center;
  width: 30%;
  img {
    border-radius: 100%;
    margin: 20px 0 0 0;
    max-width: 140px;
    width: 100%;
  }
}

.authors-about-text {
  display: inline-block;
  float: left;
  margin: 0 0 0 5%;
  width: 65%;
  p {
    font-size: 14px;
    line-height: 21px;
  }
}

@media (max-width: 992px) {
  .authors-about-image,
  .authors-about-text {
    display: block;
    width: 100%;
  }
  .authors-about-text {
    margin: 0;
  }
  .authors-about-text h3,
  .authors-about-text h4 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .authors-about {
    display: block;
    float: left;
    margin: 0;
    width: 100%;
  }
  .authors-about:nth-of-type(2),
  .authors-about:nth-of-type(3) {
    margin: 0;
  }
  .authors-about-image,
  .authors-about-text {
    display: block;
    width: 100%;
  }
  .authors-about-text h3,
  .authors-about-text h4 {
    text-align: center;
  }
}

html body .credits {
  background-color: $light-accent-0;
  border: 1px solid $light-accent-1;
  float: left;
  margin: 40px 0 0 0;
  overflow: auto;
  padding: 10px 10px 20px 10px;
  width: 100%;
  a {
    color: $dark-accent-1;
    font-weight: 400;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: underline;
  }
  li {
    font-weight: 300;
    list-style-type: none;
  }
  p, li, h5 {
    color: $dark-accent-1;
    font-size: 14px;
    line-height: 20px;
  }
  p, .credits-support ul,
  .submitted-message {
    margin: 20px 10px 10px 10px;
    padding: 0;
  }
}

.credits-signup {
  max-width: 600px;
  .hs-form-field,
  .hs_submit {
    width: 48%;
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-left: 2%;
    overflow: auto;
  }
  input.hs-input {
    background: #ffffff;
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 14px;
    line-height: normal;
    outline: none;
    padding: 5px;
  }
  .hs-form-required {
    display: none;
  }
  input {
    width: 100%;
  }
  input.hs-button {
    background-color: $base-color;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 5px 8px;
    text-align: center;
    -webkit-transition: all ease-in-out 0.4s; /* Safari */
    transition: all ease-in-out 0.4s;
    width: auto;
  }
  input.hs-button:focus {
    outline: none;
  }
  input.hs-button:hover {
    background-color: #ffffff;
    color: $base-color;
    transition: all ease-in-out .4s;
  }
  label {
    display: none;
  }
  .submitted-message {
    color: #ffffff;
    font-size: 14px;
    font-style: italic;
  }
}
