/* Screen sizes */
/* Color values */
/* Color scheme from lightest to darkest */
/* light teal */
/* light teal */
/* light green */
/* light teal */
/* teal */
/* dark teal */
/* gray-7 */
/* Text properties */
/* gray-8 */
/* Grays from lightest (0) to darkest (9) */
/* dark-accent-1 */
/* base-gray for text */
/* Default font styles */
html body a,
html body a:visited {
  color: #00b7bd;
  font-weight: 600;
  text-decoration: none; }

html body h4 > a,
html body a > h4 {
  color: #00b7bd;
  font-weight: 500;
  text-decoration: none; }

html body h4 > a:hover,
html body a > h4:hover {
  color: #2f939c; }

body {
  overflow: auto; }

html body a:hover,
.section-row-cta a i:hover,
.section-row-cta i a:hover,
html body h4 > a:hover,
html body a > h4:hover {
  color: #2f939c;
  text-decoration: none; }

html body p,
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  color: #2d3338;
  display: block; }

html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  clear: both; }

.section-row li {
  font-size: 15px;
  line-height: 24px;
  margin: 10px; }

html body h1 {
  color: #5b6770;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.38; }

html body h2 {
  color: #5b6770;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  margin: 0 0 10px 0; }

html body h3 {
  font-size: 20px;
  line-height: 27px; }

html body h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px; }

html body h5 {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 20px;
  text-transform: uppercase; }

html body p {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

html body p {
  margin: 30px 0 30px 0; }

html body p:first-of-type {
  margin-top: 20px; }

a:focus {
  outline: none;
  text-decoration: none; }

html body p.caption {
  color: #8e9aa3;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0 0 0; }

/* Overarching styles */
html body {
  color: #2d3338;
  font-family: "Roboto", Helvetica, Arial, sans-serif; }

blockquote {
  overflow: auto; }

.ebook {
  margin: 50px 0 0 0; }

@media (max-width: 992px) {
  .ebook {
    margin: 50px 0 0 0; } }
img {
  border-radius: 5px; }

.sign-up {
  background-color: #00b7bd;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 13px 23px;
  text-align: center;
  transition: all ease-in-out .4s; }

.sign-up:hover {
  background-color: #e6f7f8;
  color: #00b7bd; }

/* Navigation styles */
.desktop-chapter-navigation {
  display: block; }

.mobile-chapter-navigation {
  display: none; }

@media (max-width: 767px) {
  .mobile-chapter-navigation {
    display: block; }

  .desktop-chapter-navigation {
    display: none; } }
html body .navbar-default a.navbar-brand,
html body .navbar-default .navbar-brand {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400; }

@media (max-width: 767px) {
  html body .navbar-default a.navbar-brand,
  html body .navbar-default .navbar-brand {
    max-width: 250px; } }
html body .navbar-default .navbar-brand:hover,
html body .navbar-default .navbar-brand:focus {
  color: #ffffff; }

.navbar-brand.navbar-brand-desktop {
  align-items: center;
  display: flex;
  justify-content: flex-start; }
  .navbar-brand.navbar-brand-desktop img {
    height: 17px;
    margin-right: 5px;
    vertical-align: inherit; }

html body .navbar-default .navbar-nav > li > a {
  font-weight: 400;
  color: #ffffff; }

html body .dropdown-menu > li > a {
  color: #00b7bd; }

html body .dropdown-menu > li > a:hover {
  color: #2f939c; }

html body .dropdown-menu > li > a:hover,
html body .dropdown-menu > li > a:focus {
  background-color: #f2f4f5; }

html body .navbar-default .navbar-nav > .open > a,
html body .navbar-default .navbar-nav > .open > a:hover,
html body .navbar-default .navbar-nav > .open > a:focus,
html body .navbar-default .navbar-toggle:hover,
html body .navbar-default .navbar-toggle:focus {
  background-color: #5b6770;
  color: #ffffff; }

html body .navbar-default .navbar-toggle .icon-bar {
  background-color: #f2f4f5;
  border-color: #f2f4f5; }

.navbar-default {
  background-color: #444d54;
  border-color: #444d54; }

.navbar-nav {
  float: right; }

.navbar-default .navbar-nav > li.dropdown > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #ffffff;
  font-weight: 400;
  outline: none; }

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  background-color: #5b6770; }

.navbar-nav ul.dropdown-menu {
  left: auto;
  right: 0; }

.navbar-brand.navbar-brand-mobile {
  display: none; }

@media (max-width: 767px) {
  .navbar-brand.navbar-brand-mobile {
    align-items: center;
    display: flex;
    justify-content: flex-start; }
    .navbar-brand.navbar-brand-mobile img {
      height: 17px;
      margin-right: 5px;
      vertical-align: inherit; }

  .navbar-brand.navbar-brand-desktop {
    display: none; } }
/* Progress bar */
progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 47px;
  width: 100%;
  height: 4px;
  /* Reset the apperance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Get rid of the default border in Firefox/Opera. */
  border: none;
  /* For Firefox/IE10+ */
  background-color: transparent;
  /* For IE10+, color of the progress bar */
  color: #a0d597; }

progress::-webkit-progress-bar {
  background-color: transparent; }

progress::-webkit-progress-value {
  background-color: #a0d597; }

progress::-moz-progress-bar {
  background-color: #a0d597; }

/* Navigation prompt */
.nav-prompt {
  background-color: #00b7bd;
  display: none;
  margin: 1px 0 -1px 0;
  overflow: auto;
  padding: 5px;
  text-align: center;
  -webkit-transition: all ease-in-out 0.4s;
  /* Safari */
  transition: all ease-in-out 0.4s;
  width: 100%; }
  .nav-prompt i {
    font-weight: 600; }
  .nav-prompt p,
  .nav-prompt p:first-of-type {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    margin: 0; }

.nav-prompt-exit {
  display: flex;
  float: left;
  justify-content: center;
  margin: 0;
  width: 5%; }
  .nav-prompt-exit i {
    border-radius: 5px;
    color: #2f939c;
    float: right;
    font-size: 16px;
    line-height: inherit;
    padding: 0 5px 0 5px; }

.nav-prompt-exit-icon:hover {
  background-color: #2f939c;
  color: #00b7bd;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.4s;
  /* Safari */
  transition: all ease-in-out 0.4s; }

.nav-prompt-text {
  color: #ffffff;
  float: left;
  margin: 0;
  width: 95%; }
  .nav-prompt-text a {
    align-items: center;
    display: flex;
    justify-content: center; }
  .nav-prompt-text i {
    color: #ffffff;
    font-size: 16px;
    margin-left: 4px; }

.nav-prompt-desktop {
  display: block; }

.nav-prompt-mobile {
  display: none; }

.nav-prompt-text p:hover {
  text-decoration: underline; }

@media (max-width: 767px) {
  .nav-prompt {
    display: flex; }

  .nav-prompt-exit {
    margin-top: 6px;
    text-align: center;
    width: 100%; }

  .nav-prompt-text {
    display: block; }

  .nav-prompt-text {
    text-align: center;
    width: 100%; }
    .nav-prompt-text p {
      line-height: 20px; }

  .nav-prompt-mobile {
    display: inline;
    line-height: inherit;
    vertical-align: bottom; }

  .nav-prompt-desktop {
    display: none; } }
/* Section styles */
.section {
  display: block;
  margin: -80px 5px 30px 5px;
  overflow: auto;
  padding: 86px 0 0 0; }

@media (max-width: 992px) {
  .section {
    margin: -70px 15px 30px 15px; } }
.section hr {
  border-top: 1px solid #f2f4f5;
  clear: both;
  margin: 50px 0 0 0; }

.section-hed {
  color: #2f939c;
  font-family: "Roboto Slab", Georgia, serif; }

.section img {
  width: 100%; }

.section-row {
  overflow: initial;
  margin-left: auto;
  margin-right: auto;
  max-width: 640px; }

.section-row-callout {
  background-color: #e6f7f8;
  border-radius: 5px;
  float: left;
  margin-top: 30px;
  margin-right: 10%;
  margin-bottom: 30px;
  margin-left: 10%;
  padding: 30px;
  width: 80%; }
  .section-row-callout p:last-of-type {
    margin-bottom: 10px; }
  .section-row-callout h3 {
    margin-top: 0; }

@media (max-width: 767px) {
  .section-row-callout {
    clear: both;
    float: left;
    margin: 10px 0 30px 0;
    padding: 20px 20px 20px 20px;
    width: 100%; } }
/* Section CTAs */
.section-row-cta {
  background-color: #e6f7f8;
  border: 1px solid #cdf0f2;
  border-radius: 5px;
  color: #444d54;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: auto;
  padding: 15px;
  -webkit-transition: all ease-in-out 0.4s;
  /* Safari */
  transition: all ease-in-out 0.4s; }
  .section-row-cta img {
    width: 100%;
    margin: 10px 0 10px 0; }
  .section-row-cta i {
    color: #00b7bd;
    line-height: initial;
    margin-left: 5px;
    vertical-align: text-top; }
  .section-row-cta p i {
    font-size: 18px; }
  .section-row-cta h4 i {
    font-size: 20px; }
  .section-row-cta p,
  .section-row-cta p:first-of-type {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 10px 0 10px 0; }

a.section-row-cta:hover,
a .section-row-cta:hover {
  background-color: #cdf0f2;
  -webkit-transition: all ease-in-out 0.4s;
  /* Safari */
  transition: all ease-in-out 0.4s; }

.cta-small,
.cta-xsmall {
  width: 200px; }

.cta-medium {
  width: 320px; }

.cta-large {
  padding: 15px 30px 15px 30px;
  width: 400px; }

.cta-across {
  width: 190%;
  margin-top: 20px;
  margin-right: -45%;
  margin-bottom: 20px;
  margin-left: -45%;
  text-align: center; }

.cta-across-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px; }

@media (max-width: 1259px) {
  .cta-across {
    width: 180%;
    margin-right: -40%;
    margin-left: -40%; } }
@media (max-width: 1199px) {
  .cta-across {
    width: 170%;
    margin-right: -35%;
    margin-left: -35%; } }
@media (max-width: 1139px) {
  .cta-across {
    width: 160%;
    margin-right: -30%;
    margin-left: -30%; } }
@media (max-width: 1069px) {
  .cta-across {
    width: 150%;
    margin-right: -25%;
    margin-left: -25%; } }
@media (max-width: 1001px) {
  .cta-across {
    margin-right: -20%;
    margin-left: -20%;
    width: 140%; } }
.cta-left {
  float: left;
  margin: 20px 40px 20px -260px; }

.cta-right {
  float: right;
  margin: 20px -260px 20px 40px; }

.inline-image {
  height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  clear: none;
  overflow: auto; }
  .inline-image img {
    display: none; }

@media (max-width: 767px) {
  .inline-image {
    background-image: none !important;
    height: auto; }
    .inline-image img {
      display: block; } }
html body .cta-webinar {
  background-color: #2f939c;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  color: #ffffff;
  clear: none;
  float: left;
  margin-top: 40px;
  margin-bottom: 70px;
  overflow: auto; }
  html body .cta-webinar h1, html body .cta-webinar h2, html body .cta-webinar h3, html body .cta-webinar h4, html body .cta-webinar p {
    color: #ffffff; }
  html body .cta-webinar h5 {
    color: #a0d597; }
  html body .cta-webinar h2 {
    font-family: "Roboto Slab", Georgia, sans-serif;
    color: #ffffff; }
  html body .cta-webinar h5 {
    letter-spacing: 3px; }
  html body .cta-webinar h2, html body .cta-webinar p {
    margin: 30px 0 30px 0; }
  html body .cta-webinar .cta-across-text {
    padding: 20px 0 20px 0; }

@media (max-width: 1239px) {
  .cta-left {
    margin: 20px 40px 20px -230px; }

  .cta-right {
    margin: 20px -230px 20px 40px; } }
@media (max-width: 1169px) {
  .cta-left {
    margin: 20px 40px 20px -190px; }

  .cta-right {
    margin: 20px -190px 20px 40px; } }
@media (max-width: 1069px) {
  .cta-left {
    margin: 20px 40px 20px -140px; }

  .cta-right {
    margin: 20px -140px 40px 20px; } }
@media (max-width: 964px) {
  .cta-large,
  .cta-large.cta-left,
  .cta-large.cta-right,
  .cta-medium,
  .cta-medium.cta-left,
  .cta-medium.cta-right,
  .cta-small.cta-left,
  .cta-small.cta-right,
  .cta-across {
    margin: 10px 0 30px 0;
    width: 100%; }

  .cta-xsmall,
  .cta-xsmall.cta-left {
    width: 46%;
    margin: 2% 4% 2% 2%; }

  .cta-xsmall.cta-right {
    width: 46%;
    margin: 2% 2% 2% 4%; } }
/* Cover */
.cover.section {
  align-items: center;
  background-color: #2f939c;
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
  padding: 40px 0 60px 0; }

.cover-box {
  display: inline-block;
  float: left;
  overflow: auto;
  max-width: 600px;
  width: 50%; }

.cover-box-title {
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  max-width: 440px;
  text-align: center; }
  .cover-box-title h5 {
    letter-spacing: 2px; }

@media (max-width: 767px) {
  .cover.section {
    display: block;
    height: auto;
    margin: 0;
    padding: 20px 0 40px 0; }

  .cover-box {
    display: block;
    width: 100%; }

  .cover-box-title {
    padding: 15px; } }
.cover-box-title-about {
  color: #a0d597;
  margin: 0 0 20px 0;
  text-transform: uppercase; }

h1.cover-box-title-headline,
.cover-box-title-headline {
  color: #ffffff;
  font-family: "Roboto Slab", Georgia, serif; }

.cover-box-title-subheadline {
  color: #ffffff;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 80%; }

.cover-box-title-presented {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
  overflow: auto; }
  .cover-box-title-presented h5 {
    color: #444d54;
    letter-spacing: none; }
  .cover-box-title-presented img {
    height: 14px;
    margin-left: 5px;
    width: auto; }

.cover-box-title-authors {
  color: #a0d597;
  margin: 10px 0 10px 0; }

.cover-box-image {
  margin-left: auto;
  margin-right: auto;
  width: 90%; }

.cover-box-image-featured {
  width: 100%; }

/* About */
.about.section {
  background-color: #f2f4f5;
  border: none;
  margin: 0 0 30px 0;
  padding: 20px;
  text-align: center; }
  .about.section h4 {
    color: #444d54; }

.about-social {
  align-items: center;
  display: flex;
  justify-content: center; }

.about-social-share,
.twitter-share-button {
  margin: 10px 20px 10px 20px; }

.about-social-share.email-share-button {
  align-items: center;
  background-color: #00b7bd;
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  font-weight: 500;
  justify-content: center;
  padding: 5px 10px 5px 10px; }
  .about-social-share.email-share-button i.material-icons {
    font-size: 15px;
    margin-right: 5px; }
  .about-social-share.email-share-button span {
    font-size: 13px; }

.about-social-share:focus {
  outline: none;
  text-decoration: none; }

.about-social-share.email-share-button:hover {
  background-color: #2f939c; }

@media (max-width: 767px) {
  .about-social-share,
  .twitter-share-button {
    margin: 10px; } }
/* footer */
footer {
  margin: 50px 0 0 0;
  overflow: auto; }

.authors {
  float: left;
  margin: -50px 0 0 0;
  overflow: auto;
  padding: 50px 0 40px 0; }

.authors-hed {
  margin: 0;
  overflow: auto;
  text-align: center;
  width: 100%; }
  .authors-hed h2 {
    color: #444d54;
    font-family: "Roboto Slab", Georgia, sans-serif; }

.authors-about {
  background-color: #f2f4f5;
  border-radius: 5px;
  display: inline-block;
  float: left;
  padding: 20px 30px 20px 30px;
  width: 44%; }

.authors-about:nth-of-type(2) {
  margin: 3% 2% 3% 4%; }

.authors-about:nth-of-type(3) {
  margin: 3% 4% 3% 2%; }

.authors-about-image {
  display: inline-block;
  float: left;
  text-align: center;
  width: 30%; }
  .authors-about-image img {
    border-radius: 100%;
    margin: 20px 0 0 0;
    max-width: 140px;
    width: 100%; }

.authors-about-text {
  display: inline-block;
  float: left;
  margin: 0 0 0 5%;
  width: 65%; }
  .authors-about-text p {
    font-size: 14px;
    line-height: 21px; }

@media (max-width: 992px) {
  .authors-about-image,
  .authors-about-text {
    display: block;
    width: 100%; }

  .authors-about-text {
    margin: 0; }

  .authors-about-text h3,
  .authors-about-text h4 {
    text-align: center; } }
@media (max-width: 767px) {
  .authors-about {
    display: block;
    float: left;
    margin: 0;
    width: 100%; }

  .authors-about:nth-of-type(2),
  .authors-about:nth-of-type(3) {
    margin: 0; }

  .authors-about-image,
  .authors-about-text {
    display: block;
    width: 100%; }

  .authors-about-text h3,
  .authors-about-text h4 {
    text-align: center; } }
html body .credits {
  background-color: #e6f7f8;
  border: 1px solid #cdf0f2;
  float: left;
  font-size: 14px;
  margin: 40px 0 0 0;
  overflow: auto;
  padding: 30px 20px 40px 20px;
  width: 100%; }
  html body .credits a {
    font-weight: 500; }
  html body .credits li {
    font-weight: 400;
    list-style-type: none; }
  html body .credits .credits-about p,
  html body .credits .credits-support p,
  html body .credits .credits-support li {
    color: #444d54;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; }
  html body .credits p, html body .credits .credits-support ul,
  html body .credits .submitted-message {
    margin: 20px 10px 10px 10px;
    padding: 0; }

.credits-signup {
  max-width: 600px; }
  .credits-signup p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center; }
  .credits-signup .hs-form-field,
  .credits-signup .hs_submit {
    width: 48%;
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-left: 2%;
    overflow: auto; }
  .credits-signup input.hs-input {
    background: #ffffff;
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 14px;
    line-height: normal;
    outline: none;
    padding: 5px; }
  .credits-signup .hs-form-required {
    display: none; }
  .credits-signup input {
    width: 100%; }
  .credits-signup input.hs-button {
    background-color: #00b7bd;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 5px 8px;
    text-align: center;
    -webkit-transition: all ease-in-out 0.4s;
    /* Safari */
    transition: all ease-in-out 0.4s;
    width: auto; }
  .credits-signup input.hs-button:focus {
    outline: none; }
  .credits-signup input.hs-button:hover {
    background-color: #ffffff;
    color: #00b7bd;
    transition: all ease-in-out .4s; }
  .credits-signup label {
    display: none; }
  .credits-signup .submitted-message {
    color: #ffffff;
    font-size: 14px;
    font-style: italic; }

@media (max-width: 992px) {
  .credits-signup p {
    text-align: left; } }

/*# sourceMappingURL=style.css.map */
