/* Screen sizes */
/* Color values */

/* Color scheme from lightest to darkest */
$light-accent-0: #e6f7f8; /* light teal */
$light-accent-1: #cdf0f2; /* light teal */
$light-accent-2: #a0d597; /* light green */
$light-accent-3: #83dadd; /* light teal */
$base-color: #00b7bd; /* teal */
$dark-accent-0: #2f939c; /* dark teal */
$dark-accent-1: #2d3338; /* base-gray and gray-8 */

/* Text properties */
$base-gray: #2d3338; /* gray-8 and dark-accent-1 */

/* Grays from lightest (0) to darkest (9) */
$gray-0: #f2f4f5;
$gray-1: #e2e5e8;
$gray-2: #c6ccd1;
$gray-3: #aab3ba;
$gray-4: #8e9aa3;
$gray-5: #72818c;
$gray-6: #5b6770; 
$gray-7: #444d54;
$gray-8: #2d3338; /* base-gray and dark-accent-1 */
$gray-9: #16191c;

/* Default font styles */
html body a,
html body a:visited {
  color: $base-color;
  font-weight: 600;
  text-decoration: none;
}

html body a:hover {
  color: $dark-accent-0;
  text-decoration: none;
}

html body p,
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  color: $base-gray;
  display: block;
}

html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  clear: both;
}

.section-row li {
  font-size: 15px;
  line-height: 24px;
  margin: 10px;
}

html body h1 {
  color: #5b6770;    
  font-size: 34px;
  font-weight: 400;
  line-height: 1.38;
}

html body h2 {
  color: #5b6770;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  margin: 0 0 10px 0; 
}

html body h3 {
  font-size: 20px;
  line-height: 27px;
}

html body h4 {
  font-size: 18px;
  line-height: 28px;
}

html body p {
  color: $gray-7;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  margin: 0 0 10px 0;
  text-size-adjust: 100%;
  -webkit-font-smoothing:antialiased;
}

/* Default colors */
.audience, .base-gray {
  border-radius: 4px;
  color: white;
  padding: 1px 5px 1px 5px;
}

/* Overarching styles */
.blog-title {
  color: #5b6770;    
  font-size: 34px;
  font-weight: 500;
  line-height: 1.38;
}

html body {
  color: $base-gray;
  font-family: "Roboto", Helvetica, Arial, sans-serif; 
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}

.ebook {
  margin-top: 50px 0 0 0;
  max-width: 1300px;
}

.desktop-chapter-navigation {
  display: block;
}

.mobile-chapter-navigation {
  display: none;
}

@media (max-width: 767px) {
  .mobile-chapter-navigation {
    display: block;
  }
  .desktop-chapter-navigation {
    display: none;
  }
}

@media (max-width: 992px) {
  .ebook {
    margin: 50px 0 0 0;
  }
}

html body .navbar-default a.navbar-brand,
html body .navbar-default .navbar-brand {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 767px) {
  html body .navbar-default a.navbar-brand,
  html body .navbar-default .navbar-brand {
    max-width: 250px;
  }
}

.navbar-default {
  background-color: $gray-7;
  border-color: $gray-7;
}

.navbar-nav {
  float: right;
}

.navbar-default .navbar-nav>li.dropdown > a {
  color: $gray-1;
  font-weight: 400;
}

.navbar-nav ul.dropdown-menu {
  left: auto;
  right: 0;
}

/* Index styles */
@media (min-width: 993px) {
  .index {
    padding-right: 15px;
    position: fixed;
    top: 0;
    width: 25%; 
  }
  .index li {
    margin: 5px 0 2px 0; 
  } 
}

.index ul {
  list-style-type: none;
  padding: 0 5px 0 10px; 
}

@media (max-width: 992px) {
.index ul {
    padding: 0;
  }
}

html body .index a {
  color: #5b6770;
  font-size: 20px;
  font-weight: 400;
  margin-right: 0;
  text-decoration: none; }

html body .index a:hover {
  color: #307fe2; }

.index-chapter {
  border-bottom: 1px solid #f2f4f5;
  display: block;
  margin-right: 1.5em;
  outline: none;
  padding: 2px 0 2px 0; }

.index-chapter:hover {
  border-bottom: 3px solid #307fe2;
  padding-bottom: 0; }

/* Section styles */
.section {
  border-top: 1px solid #f2f4f5;
  display: block; 
  margin: 0 5px 30px 5px;
  overflow: auto;
  padding: 30px 0 0 0;
}

@media (max-width: 992px) {
  .section {
    margin: 0 15px 30px 15px;
  }
}

.section-hed {
  color: $dark-accent-0;
  font-family: "Roboto Slab", Georgia, serif;
}

.section-row {
  overflow: initial;
  margin-left: auto;
  margin-right: auto;
  max-width: 640px; 
}

.section-row-callout {
  background-color: $light-accent-0;
  border-radius: 5px;
  float: right;
  margin-left: 15%;
  margin-right: 5%;
  margin-bottom: 40px;
  padding: 30px;
  width: 80%;
}

.section-row-cta {
  background-color: $light-accent-0;
  border: 1px solid $light-accent-1;
  border-radius: 5px;
  color: $dark-accent-1;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
}

.cta-small {
  width: 200px;
}

.cta-medium {
  width: 320px;
}

.cta-large {
  width: 400px;
}

.cta-across {
  width: 190%;
  margin-top: 20px;
  margin-right: -45%;
  margin-bottom: 20px;
  margin-left: -45%;
}

@media (max-width: 1259px) {
  .cta-across {
    width: 180%;
    margin-right: -40%;
    margin-left: -40%;
  }
}

@media (max-width: 1199px) {
  .cta-across {
    width: 170%;
    margin-right: -35%;
    margin-left: -35%;
  }
}

@media (max-width: 1139px) {
  .cta-across {
    width: 160%;
    margin-right: -30%;
    margin-left: -30%;
  }
}

@media (max-width: 1069px) {
  .cta-across {
    width: 150%;
    margin-right: -25%;
    margin-left: -25%;
  }
}

@media (max-width: 1001px) {
  .cta-across {
    width: 140%;
    margin-right: -20%;
    margin-left: -20%;
  }
}

.cta-left {
  float: left;
  margin: 20px 20px 20px -140px;
}

.cta-right {
  float: right;
  margin: 20px -140px 20px 20px;
}

@media (max-width: 964px) {
  .cta-large,
  .cta-large.cta-left,
  .cta-large.cta-right,
  .cta-medium,
  .cta-medium.cta-left,
  .cta-medium.cta-right,
  .cta-across {
    width: 90%;
    margin: 5%;
  }
  .cta-small,
  .cta-small.cta-left {
    width: 46%;
    margin: 2% 4% 2% 2%;
  }
  .cta-small.cta-right {
    width: 46%;
    margin: 2% 2% 2% 4%;
  }
}

@media (max-width: 767px) {
  .section-row-callout {
    float: right;
    margin: 20px 0 20px 0;
    padding: 20px 20px 20px 30px;
    width: 95%;
  }
}

.section-row.section-row-icons {
  overflow-x: scroll;
  display: flex;
}

.section-row-box {
  background-color: #f2f4f5;
  border-radius: 4px;
  display: inline-block;
  float: left;
  margin-bottom: 20px;
  margin-right: 2%;
  width: 22%; 
}

@media (max-width: 992px) {
  .section-row-box {
    margin-right: 2%;
    width: 48%;
  }
}

.section-row-box.buttons,
.section-row-box.logos {
  padding: 10px 20px 10px 20px;
  width: 46%; 
}

@media (max-width: 992px) {
  .section-row-box.buttons,
  .section-row-box.logos {
    width: 100%; 
  }
}

@media (max-width: 992px) {
  .section-row-box.logos img {
    max-width: 300px;
    width: 100%; 
  }
}

.section-row-box.buttons:first-of-type {
  margin-right: 2%; }

.section-row-box.cerca-brand {
  margin-right: 3%;
  width: 30%; 
}

@media (max-width: 992px) {
  .section-row .section-row-box.cerca-brand {
    margin-right: 0;
    width: 100%;
  }
}


.section-row-box.one-color {
  float: left; }

.section-row-box-button {
  font-size: 16px;
  margin-top: 19px;
  padding: 13px 23px;
}

.section-row-box-button,
.download-button,
a.download-button:visited,
a.download-button:focus {
  background-color: #70c216;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  transition: all ease-in-out .4s; 
}

.download-button {
  margin: 0 5px 0 0;
  padding: 3px 10px;
}

.section-row-box-button.sign-up {
  font-style: uppercase;
  font-weight: 600; }

.section-row-box-button:hover,
a.download-button:hover {
  background-color: #ebebeb;
  color: #70c216;
}

.section-row-box-swatch {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 95%; 
}

.section-row-box.one-color .section-row-box-swatch:first-of-type, .section-row-box.one-color .section-row-box-swatch:nth-child(2) {
  color: #2d3338; 
}

.section-row-box.one-color .section-row-box-swatch.base {
  height: 80px; 
}

.section-row-box.icons {
  min-width: 250px;
}

.section-row-box.icons .section-row-box-text p {
  font-size: 14px;
}

.section-row-box-text {
  padding: 5px 5px 0 5px;
  text-align: center; 
}

.section-row-box-text p {
  font-weight: 600; 
}

.section-row-full {
  background-color: #f2f4f5;
    border-radius: 4px;
    display: block;
    float: left;
    margin: 0 0 20px 0;
    padding: 20px;
    width: 100%;
}

/* Cover */
.cover.section {
  align-items: center;
  background-color: #3d9ea6;
  display: flex;
  height: 400px;
  margin: 50px 0 30px 0;
  padding: 0;
}

.cover-box {
  display: inline-block;
  float: left;
  overflow: auto;
  width: 50%;
}

@media (max-width: 767px) {
  .cover.section {
    display: block;
    height: auto;
    margin: 0;
    padding: 20px 0 40px 0;
  }
  .cover-box {
    display: block;
    width: 100%;
  }
}

.cover-box-title {
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  max-width: 440px;
  text-align: center;
}

.cover-box-title-about {
  color: $light-accent-2;
  margin: 0 0 30px 0;
  text-transform: uppercase;
}

h1.cover-box-title-headline,
.cover-box-title-headline {
  color: #ffffff;
  font-family: "Roboto Slab", Georgia, serif;
}

.cover-box-title-subheadline {
  color: #ffffff;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.cover-box-image {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.cover-box-image-featured {
  width: 100%;
}


/* Introduction */
.section#introduction {
  border-top: none;
}