/* Screen sizes */
/* Color values */
/* Color scheme from lightest to darkest */
/* light teal */
/* light teal */
/* light green */
/* light teal */
/* teal */
/* dark teal */
/* base-gray and gray-7 */
/* Text properties */
/* gray-8 */
/* Grays from lightest (0) to darkest (9) */
/* dark-accent-1 */
/* base-gray for text */
/* Default font styles */
html body a,
html body a:visited {
  color: #00b7bd;
  font-weight: 600;
  text-decoration: none; }

html body a:hover {
  color: #2f939c;
  text-decoration: none; }

html body p,
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  color: #2d3338;
  display: block; }

html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  clear: both; }

.section-row li {
  font-size: 15px;
  line-height: 24px;
  margin: 10px; }

html body h1 {
  color: #5b6770;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.38; }

html body h2 {
  color: #5b6770;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  margin: 0 0 10px 0; }

html body h3 {
  font-size: 20px;
  line-height: 27px; }

html body h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px; }

html body p {
  color: #444d54;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  margin: 0 0 30px 0;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

/* footer */
footer {
  margin: 80px 0 0 0; }

.authors {
  background-color: #f2f4f5;
  height: 160px;
  margin: 0; }

.credits {
  background-color: #2f939c;
  height: 40px;
  margin: 0; }

/* Default colors */
.audience, .base-gray {
  border-radius: 4px;
  color: white;
  padding: 1px 5px 1px 5px; }

/* Overarching styles */
.blog-title {
  color: #5b6770;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.38; }

html body {
  color: #2d3338;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px; }

.ebook {
  margin-top: 50px 0 0 0;
  max-width: 1300px; }

.desktop-chapter-navigation {
  display: block; }

.mobile-chapter-navigation {
  display: none; }

@media (max-width: 767px) {
  .mobile-chapter-navigation {
    display: block; }

  .desktop-chapter-navigation {
    display: none; } }
@media (max-width: 992px) {
  .ebook {
    margin: 50px 0 0 0; } }
html body .navbar-default a.navbar-brand,
html body .navbar-default .navbar-brand {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400; }

@media (max-width: 767px) {
  html body .navbar-default a.navbar-brand,
  html body .navbar-default .navbar-brand {
    max-width: 250px; } }
.navbar-default {
  background-color: #444d54;
  border-color: #444d54; }

.navbar-nav {
  float: right; }

.navbar-default .navbar-nav > li.dropdown > a {
  color: #e2e5e8;
  font-weight: 400; }

.navbar-nav ul.dropdown-menu {
  left: auto;
  right: 0; }

/* Index styles */
@media (min-width: 993px) {
  .index {
    padding-right: 15px;
    position: fixed;
    top: 0;
    width: 25%; }

  .index li {
    margin: 5px 0 2px 0; } }
.index ul {
  list-style-type: none;
  padding: 0 5px 0 10px; }

@media (max-width: 992px) {
  .index ul {
    padding: 0; } }
html body .index a {
  color: #5b6770;
  font-size: 20px;
  font-weight: 400;
  margin-right: 0;
  text-decoration: none; }

html body .index a:hover {
  color: #307fe2; }

.index-chapter {
  border-bottom: 1px solid #f2f4f5;
  display: block;
  margin-right: 1.5em;
  outline: none;
  padding: 2px 0 2px 0; }

.index-chapter:hover {
  border-bottom: 3px solid #307fe2;
  padding-bottom: 0; }

/* Section styles */
.section {
  border-top: 1px solid #f2f4f5;
  display: block;
  margin: 0 5px 30px 5px;
  overflow: auto;
  padding: 30px 0 0 0; }

@media (max-width: 992px) {
  .section {
    margin: 0 15px 30px 15px; } }
.section-hed {
  color: #2f939c;
  font-family: "Roboto Slab", Georgia, serif; }

.section-row {
  overflow: initial;
  margin-left: auto;
  margin-right: auto;
  max-width: 640px; }

.section-row-callout {
  background-color: #e6f7f8;
  border-radius: 5px;
  float: right;
  margin-left: 15%;
  margin-right: 5%;
  margin-bottom: 40px;
  padding: 30px;
  width: 80%; }

.section-row-cta {
  background-color: #e6f7f8;
  border: 1px solid #cdf0f2;
  border-radius: 5px;
  color: #444d54;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: auto;
  padding: 15px;
  -webkit-transition: all ease-in-out 0.4s;
  /* Safari */
  transition: all ease-in-out 0.4s; }
  .section-row-cta img {
    width: 100%;
    margin: 10px 0 20px 0; }
  .section-row-cta i {
    color: #00b7bd; }
  .section-row-cta p {
    margin: 10px 0 10px 0; }

a.section-row-cta:hover,
a .section-row-cta:hover {
  background-color: #cdf0f2;
  -webkit-transition: all ease-in-out 0.4s;
  /* Safari */
  transition: all ease-in-out 0.4s; }

.cta-small {
  width: 200px; }

.cta-medium {
  width: 320px; }

.cta-large {
  width: 400px; }

.cta-across {
  width: 190%;
  margin-top: 20px;
  margin-right: -45%;
  margin-bottom: 20px;
  margin-left: -45%;
  text-align: center; }

@media (max-width: 1259px) {
  .cta-across {
    width: 180%;
    margin-right: -40%;
    margin-left: -40%; } }
@media (max-width: 1199px) {
  .cta-across {
    width: 170%;
    margin-right: -35%;
    margin-left: -35%; } }
@media (max-width: 1139px) {
  .cta-across {
    width: 160%;
    margin-right: -30%;
    margin-left: -30%; } }
@media (max-width: 1069px) {
  .cta-across {
    width: 150%;
    margin-right: -25%;
    margin-left: -25%; } }
@media (max-width: 1001px) {
  .cta-across {
    margin-right: -20%;
    margin-left: -20%;
    width: 140%; } }
.cta-left {
  float: left;
  margin: 20px 20px 20px -260px; }

.cta-right {
  float: right;
  margin: 20px -260px 20px 20px; }

@media (max-width: 1239px) {
  .cta-left {
    margin: 20px 20px 20px -230px; }

  .cta-right {
    margin: 20px -230px 20px 20px; } }
@media (max-width: 1169px) {
  .cta-left {
    margin: 20px 20px 20px -190px; }

  .cta-right {
    margin: 20px -190px 20px 20px; } }
@media (max-width: 1069px) {
  .cta-left {
    margin: 20px 20px 20px -140px; }

  .cta-right {
    margin: 20px -140px 20px 20px; } }
@media (max-width: 964px) {
  .cta-large,
  .cta-large.cta-left,
  .cta-large.cta-right,
  .cta-medium,
  .cta-medium.cta-left,
  .cta-medium.cta-right,
  .cta-across {
    width: 90%;
    margin: 5%; }

  .cta-small,
  .cta-small.cta-left {
    width: 46%;
    margin: 2% 4% 2% 2%; }

  .cta-small.cta-right {
    width: 46%;
    margin: 2% 2% 2% 4%; } }
@media (max-width: 767px) {
  .section-row-callout {
    float: right;
    margin: 20px 0 20px 0;
    padding: 20px 20px 20px 30px;
    width: 95%; } }
.section-row.section-row-icons {
  overflow-x: scroll;
  display: flex; }

.section-row-box {
  background-color: #f2f4f5;
  border-radius: 4px;
  display: inline-block;
  float: left;
  margin-bottom: 20px;
  margin-right: 2%;
  width: 22%; }

@media (max-width: 992px) {
  .section-row-box {
    margin-right: 2%;
    width: 48%; } }
.section-row-box.buttons,
.section-row-box.logos {
  padding: 10px 20px 10px 20px;
  width: 46%; }

@media (max-width: 992px) {
  .section-row-box.buttons,
  .section-row-box.logos {
    width: 100%; } }
@media (max-width: 992px) {
  .section-row-box.logos img {
    max-width: 300px;
    width: 100%; } }
.section-row-box.buttons:first-of-type {
  margin-right: 2%; }

.section-row-box.cerca-brand {
  margin-right: 3%;
  width: 30%; }

@media (max-width: 992px) {
  .section-row .section-row-box.cerca-brand {
    margin-right: 0;
    width: 100%; } }
.section-row-box.one-color {
  float: left; }

.section-row-box-button {
  font-size: 16px;
  margin-top: 19px;
  padding: 13px 23px; }

.section-row-box-button,
.download-button,
a.download-button:visited,
a.download-button:focus {
  background-color: #70c216;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  transition: all ease-in-out .4s; }

.download-button {
  margin: 0 5px 0 0;
  padding: 3px 10px; }

.section-row-box-button.sign-up {
  font-style: uppercase;
  font-weight: 600; }

.section-row-box-button:hover,
a.download-button:hover {
  background-color: #ebebeb;
  color: #70c216; }

.section-row-box-swatch {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 95%; }

.section-row-box.one-color .section-row-box-swatch:first-of-type, .section-row-box.one-color .section-row-box-swatch:nth-child(2) {
  color: #2d3338; }

.section-row-box.one-color .section-row-box-swatch.base {
  height: 80px; }

.section-row-box.icons {
  min-width: 250px; }

.section-row-box.icons .section-row-box-text p {
  font-size: 14px; }

.section-row-box-text {
  padding: 5px 5px 0 5px;
  text-align: center; }

.section-row-box-text p {
  font-weight: 600; }

.section-row-full {
  background-color: #f2f4f5;
  border-radius: 4px;
  display: block;
  float: left;
  margin: 0 0 20px 0;
  padding: 20px;
  width: 100%; }

/* Cover */
.cover.section {
  align-items: center;
  background-color: #3d9ea6;
  display: flex;
  margin: 50px 0 0 0;
  padding: 40px 0 60px 0; }

.cover-box {
  display: inline-block;
  float: left;
  overflow: auto;
  width: 50%; }

@media (max-width: 767px) {
  .cover.section {
    display: block;
    height: auto;
    margin: 0;
    padding: 20px 0 40px 0; }

  .cover-box {
    display: block;
    width: 100%; } }
.cover-box-title {
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  max-width: 440px;
  text-align: center; }

.cover-box-title-about {
  color: #a0d597;
  margin: 0 0 20px 0;
  text-transform: uppercase; }

h1.cover-box-title-headline,
.cover-box-title-headline {
  color: #ffffff;
  font-family: "Roboto Slab", Georgia, serif; }

.cover-box-title-subheadline {
  color: #ffffff;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 80%; }

.cover-box-title-presented {
  color: #444d54;
  margin: 10px 0 10px 0; }

.cover-box-title-authors {
  color: #444d54;
  margin: 10px 0 10px 0; }

.cover-box-image {
  margin-left: auto;
  margin-right: auto;
  width: 90%; }

.cover-box-image-featured {
  width: 100%; }

/* About */
.about.section {
  background-color: #f2f4f5;
  border: none;
  margin: 0 0 30px 0;
  padding: 20px;
  text-align: center; }
  .about.section h4 {
    color: #444d54; }

.about-social {
  align-items: center;
  display: flex;
  justify-content: center; }

.about-social a:hover .about-social-share {
  background-color: #00b7bd; }

.about-social-share {
  align-items: center;
  background-color: #a0d597;
  border: none;
  border-radius: 30px;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 10px 30px 10px 30px;
  padding: 5px 20px 5px 20px;
  width: 100px;
  -webkit-transition: all ease-in-out 0.4s;
  /* Safari */
  transition: all ease-in-out 0.4s; }
  .about-social-share i {
    color: #ffffff;
    font-size: 30px; }

@media (max-width: 767px) {
  .about-social-share {
    border-radius: 100%;
    height: 50px;
    margin: 5px 10px;
    padding: 5px;
    width: 50px; } }
/* Introduction */
.section#introduction {
  border-top: none; }

/*# sourceMappingURL=style.css.map */
