{% extends "_blueprint/_base.html" %}
{% block content %}
<div class="ebook">
	<div class="section cover">
		<div class="cover-box">
			<div class="cover-box-title">
				<h5 class="cover-box-title-about">{{ about|process_text }}</h5>
				<h1 class="cover-box-title-headline">{{ headline|process_text }}</h1>
				<h3 class="cover-box-title-subheadline">{{ subheadline|process_text }}</h3>
				<h5 class="cover-box-title-presented">{{ presented|process_text }}</h5>
				<h5 class="cover-box-title-authors">{{ authors_names|process_text }}</h5>
			</div>
		</div>
		<div class="cover-box">
			<div class="cover-box-image">
				<img class="cover-box-image-featured" src="{{ featured_image }}"> 
				{# <!--
				<video autoplay="autoplay" loop="loop" width="100%">
					<source src="img/blended_learning_thinkcerca_ebook.mov">
				</video>
				--> #}
			</div>
		</div>
	</div>
	<div class="section about">
		<h4>{{ share_this }}</h4>
		<div class="about-social">
			{# EMAIL #}
			<a href="mailto:?&subject={{ headline }}&body=This%20guide%20shows%20admins%20how%20to%20personalize%20literacy%20at%20scale%20through%20blended%20learning!%20Check%20it%20out:%20blended-literacy.thinkcerca.com" class="about-social-share email">
				<i class="material-icons">email</i>
				<span>Email</span>
			</a>
			{# FACEBOOK #}
			<div class="about-social-share fb-share-button" data-href="http://www.blended-literacy.thinkcerca.com/" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.blended-literacy.thinkcerca.com%2F&amp;src=sdkpreparse"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></div>
			{# TWITTER #}
			<a class="twitter-share-button about-social-share" href="https://twitter.com/intent/tweet?text=Personalizing%20Literacy%20Through%20#BlendedLearning:%20The%20administrator%20guide" data-size="large">Tweet</a>
		</div>
	</div>
	{% for chapter in chapters %} 
	{% set var_chapter = chapter.identifier %}
		<div class="section" id="{{ var_chapter }}">
			<div class="section-row">
				<h2 class="section-hed">{% for chapter in chapters if chapter.identifier == var_chapter %}{{ chapter.chapter_title }}{% endfor %}</h2>
			</div>
			<div class="section-row">
				{% for element in content if element.chapter == var_chapter %}
					{# <!-- SHOULD AN ELEMENT TAG PRECEDE THE BELOW ELEMENT(S)? --> #}
					{# <!-- IF THERE ARE MANY `LI`S, FOR INSTANCE, THE FIRST ONE SHOULD HAVE A PREPENDED ELEMENT OF `OL` OR `UL`. THE LAST ONE SHOULD HAVE A DUPLICATED APPENDED ELEMENT --> #}
					{% if element.prepend %}<{{ element.prepend }} {% if element.prepend_class %}class="{{ element.prepend_class }}"{% endif %}{% if element.prepend == 'a' %} href="{{ element.href }}" {% if element.no_new_tab != 'x' %}target="_blank"{% endif %}{% endif %}{% if element.background_image %} style="background-image: url('{{ element.background_image}}');"{% endif %}>{% endif %}
						{# <!-- SHOULD THE INNER-MOST ELEMENT BELOW BE ENCLOSED WITHIN ANOTHER ELEMENT? --> #}
						{# <!-- FOR INSTANCE, IF THE INNER-MOST ELEMENT IS A `LI`, MAKE THE ENCLOSING ELEMENT AN `OL` OR `UL` --> #}
						{% if element.enclose %}<{{ element.enclose }} {% if element.enclose_class %}class="{{ element.enclose_class }}"{% endif %}{% if element.enclose == 'a' %} href="{{ element.href }}" {% if element.no_new_tab != 'x' %}target="_blank"{% endif %}{% endif %}{% if element.background_image %} style="background-image: url('{{ element.background_image}}');"{% endif %}>{% endif %}
							{# <!-- THE ELEMENT AND ITS TEXT. PULLED FROM A SPREADSHEET CELL. --> #}
							{# <!-- SUCH AS: A PARAGRAPH OR A BULLET POINT --> #}
							{% if element.tag %}<{{ element.tag }} {% if element.tag_class %}class="{{ element.tag_class }}"{% endif %}{% if element.tag == 'a' %} href="{{ element.href }}"{% if element.no_new_tab != 'x' %} target="_blank"{% endif %}{% endif %}{% if element.tag == 'img' %} src="{{ element.src }}"{% endif %}{% if element.background_image %} style="background-image: url('{{ element.background_image}}');"{% endif %}>{% endif %}{% if element.text %}{{ element.text|process_text }}{% endif %}{% if element.tag %}</{{ element.tag }}>{% endif %}
						{% if element.enclose %}</{{ element.enclose }}>{% endif %}
					{# <!-- SHOULD AN ELEMENT TAG FOLLOW THE ABOVE ELEMENT(S)? --> #}
					{# <!-- IF THERE ARE MANY `LI`S, FOR INSTANCE, THE FIRST ONE SHOULD HAVE A PREPENDED ELEMENT OF `OL` OR `UL`. THE LAST ONE SHOULD HAVE A DUPLICATED APPENDED ELEMENT BELOW --> #}
					{% if element.append %}</{{ element.append }}>{% endif %}
				{% endfor %}
			</div>
			<hr>
		</div>
	{% endfor %}
</div>
{% endblock content %}