{% extends "_blueprint/_base.html" %}
{% block content %}

<div class="ebook">
	{# 
	<aside class="index" id="#top">
	    <ul>
	    	{% for chapter in chapters %}
	      		<li><a class="index-chapter" href="#{{ chapter.identifier }}">{{ chapter.chapter_title }}</a></li>
	      	{% endfor %}
	    </ul>   
	</aside>
	#}
	<div class="section cover" id="about">
		<div class="cover-title">
			<h1 class="cover-title-headline">{{ headline }}</h1>
			<h2 class="cover-title-subheadline">{{ subheadline }}</h2>
		</div>
		<img class="introduction-featured-image" src="{{ featured_image }}">
	</div>
	<div class="section" id="introduction">
		<div class="section-row">
			<h2 class="section-hed">Introduction</h2>
		</div>
		<div class="section-row">
			{{ dummy_text }}
		</div>
	</div>
	<div class="section" id="training_support">
		<div class="section-row">
			<h2 class="section-hed">Training & Support</h2>
		</div>
		<div class="section-row">
			{{ dummy_text }}
		</div>
	</div>
	<div class="section" id="processes">
		<div class="section-row">
			<h2 class="section-hed">Processes</h2>
		</div>
		<div class="section-row">
			{{ dummy_text }}
		</div>
	</div>
	<div class="section" id="commitment_tools">
		<div class="section-row">
			<h2 class="section-hed">Commitment to Technology & Helpful Tools</h2>
		</div>
		<div class="section-row">
			{{ dummy_text }}
		</div>
	</div>
	<div class="section" id="scheduling_bandwidth">
		<div class="section-row">
			<h2 class="section-hed">Scheduling & Bandwidth</h2>
		</div>
		<div class="section-row">
			{{ dummy_text }}
		</div>
	</div>
</div>

{% endblock content %}

