<footer>
	{# FB pixel code added to footer per Hubspot's recommendation #}
	{# (suggestes pixel interferes with Hubspot tracking #}
	{{ facebook_pixel_code|process_text }}
	<div class="authors" id="authors">
		<div class="authors-hed">
			<h2>About the Authors</h2>
		</div>
		{% for author in authors %}
		<div class="authors-about">
			<div class="authors-about-image">
				<img src="{{ author.image }}">
			</div>
			<div class="authors-about-text">
				<h3>{{ author.name|process_text }}</h3>
				<h4>{{ author.title|process_text }}</h4>
				<p>{{ author.bio|process_text }}</p>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="credits" id="credits">
		<div class="credits-about col-lg-4 col-md-4 col-sm-12">
			<p>{{ credits_about }}</p>
		</div>
		<div class="credits-support col-lg-3 col-md-3 col-sm-12">
			<ul>
				{% for credit in credits %}
				<li>{{ credit.work }} | <a href="{{ credit.link }}" target="_blank">{{ credit.person }}</a></li>
				{% endfor %}
			</ul>
			<p>{{ copyright }}</p>
		</div>
		<div class="credits-signup col-lg-5 col-md-5 col-sm-12">
			<p>{{ newsletter_join|process_text }}</p>			
			{{ newsletter_signup|process_text }}
		</div>
	</div>
	{# Test Facebook Pixel event code #}
	{# Need to learn more about #}
	<script>
		fbq('track', 'Lead', {
		value: 10.00,
		currency: 'USD'
		});
	</script>
</footer>