<footer>
	<div class="authors" id="authors">
		<div class="authors-hed">
			<h2>About the Authors</h2>
		</div>
		{% for author in authors %}
		<div class="authors-about">
			<div class="authors-about-image">
				<img src="{{ author.image }}">
			</div>
			<div class="authors-about-text">
				<h3>{{ author.name }}</h3>
				<h4>{{ author.title }}</h4>
				<p>{{ author.bio }}</p>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="credits" id="credits">
		<div class="credits-about col-lg-4 col-md-4 col-sm-12">
			<p>{{ credits_about }}</p>
		</div>
		<div class="credits-support col-lg-4 col-md-4 col-sm-12">
			<ul>
				{% for credit in credits %}
				<li>{{ credit.work }} | <a href="{{ credit.link }}" target="_blank">{{ credit.person }}</a></li>
				{% endfor %}
			</ul>
			<p>{{ copyright }}</p>
		</div>
		<div class="credits-social col-lg-4 col-md-4 col-sm-12"></div>
	</div>
</footer>